 <div class="float-right  text-center " style="height:550px; width:auto" >
    <div class="container bg-primary text-center " style="height:100px;width:auto" >
    
         <h1   style="font-size:35px; Color:white ;font-style: italic;" >Best Price!</h1>
         <img src=" https://www.pngitem.com/pimgs/m/207-2077655_transparent-dollar-icon-png-vector-dollar-icon-png.png" alt="image" class="img-fluid"style="height:40px; width:40px"  >
        
   </div>
     <div class="container text-center " style="height:400px;width:250" >
       <img src="https://4.imimg.com/data4/BU/MO/ANDROID-52188661/product-250x250.jpeg" alt="image" class="img-fluid"style="height:460px; width:300px"  >
      
    </div> 
   
</div>

<div class="float-left  text-center " style="height:550px; width:auto" >
    <div class="container bg-primary text-center " style="height:100px;width:auto" >
         <h1   style="font-size:35px; Color:white;font-style: italic;" >Best Products!</h1>
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Football_%28soccer_ball%29.svg/1200px-Football_%28soccer_ball%29.svg.png" alt="image" class="img-fluid"style="height:40px; width:40px"  >
   </div>
     <div class="container text-center " style="height:400px;width:250" >
       <img src=" https://4.imimg.com/data4/BU/MO/ANDROID-52188661/product-250x250.jpeg" alt="image" class="img-fluid"style="height:460px; width:300px"  >
 
    </div> 
</div>
    <!-- https://img.wallpapersafari.com/tablet/768/1024/32/53/rNuijC.jpg -->
   


 <div class="container bg-primary text-center " style="height:100px;width:auto" >
    <h1   style="font-size:35px; Color:white;font-family: 'Times New Roman', Times, serif ;" >SportsShop</h1>
    <h2 style="font-family: serif;">A place of best sports wears</h2>

   </div>
  
<div class="container text-center">
    <p class="h3">Customer Management System</p>
   
    <hr>
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdkdXs6q5MzYcnTjCkJy-RfC3vGzHMkwhBwQ&usqp=CAU" alt="image" class="img-fluid"style="height:300px; " > -->
    
    <img src="https://thumbs.dreamstime.com/b/assorted-sports-equipment-vivid-colorful-theme-65051669.jpg" alt="image" class="img-fluid"style="height:300px;"  >
  
    <p style="font-family:'Times New Roman', Times, serif;" >Bhuvanesh</p>
</div>
<!-- https://www.google.com/url?sa=i&url=https%3A%2F%2Fprofit.pakistantoday.com.pk%2F2020%2F01%2F15%2Fsports-goods-exports-drop-6pc-in-fy19%2F&psig=AOvVaw0C3xpjrK9efDUwV3QjGdd-&ust=1637499769812000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCNi0o6aAp_QCFQAAAAAdAAAAABAY
https://developers.google.com/web/fundamentals/design-and-ux/responsive/img/art-direction.png -->
