<div class="container">
    <br />
    <h3>Item Details</h3>
    <br />
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            <!-- <h2>{{ item.itemName }}</h2> -->
          </div>
          <div class="col text-right">
            <a href="#" routerLink="/order" class="btn btn-primary btn-sm">Back To Orders List</a>
            <a href="#" routerLink="/item" class="btn btn-secondary btn-sm">Back To items List</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>item Number:</b> {{ item.itemNumber }}</li>
        <li class="list-group-item"><b>item Name:</b> {{ item.itemName }}</li>
        <li class="list-group-item"><b>color:</b> {{ item.color }}</li>
        <li class="list-group-item"><b>Price:</b> {{ item.value }}</li>
       
        
      </ul>
    </div>
  </div>
