<div class="container">
    <br />
    <div class="row">
      <div class="col">
        <h3>Create Order</h3>
      </div>
      <div class="col text-right">
        <a href="#" routerLink="/orders" class="btn btn-secondary btn-sm">Back To orders List</a>
      </div>
    </div>
    <br />
    <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">
     
   
        <div class="form-group">
            <label for="orderDate">orderDate:</label>
            <input formControlName="orderDate"
                   id="orderDate"
                   type="date"
                   class="form-control" />
          </div>
       
          
       
          <div class="form-group">
            <label for="customerId">customerId:</label>
            <input formControlName="customerId"
                   id="customerId"
                   type="number"
                   class="form-control" />
          </div>
       
         

          <div class="form-group">
            <label for="itemNumber">itemNumber:</label>
             <input formControlName="itemNumber"
                   id="itemNumber"
                   type="number" 
                    class="form-control" >
          </div>
                     
                    <!-- (change)="updatePrice($event.target)"
                    [class.is-invalid]="!isValid && formData.itemNumber==0"> -->


            <!-- <select formControlName="itemNumber"
            id="itemNumber"
            type="number" 
             class="form-control" (change)="updatePrice($event.target)"
             [class.is-invalid]="!isValid && formData.itemNumber==0">
     
              <option value=0>-Select-</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
            </select>
               <option *ngFor="let item of itemList" value="{{item.itemNumber}}">{{item.itemNumber}}</option> -->
           
        

           <div class="form-group">
            <label for="orderAddress">orderAddress:</label>
            <input formControlName="orderAddress"
                   id="orderAddress"
                   type="text"
                   
                   class="form-control" />
          </div>
          <!-- <div class="form-group">
            <label for="price">itemNumber:</label>
             <input formControlName="price"
                   id="price"
                   type="number" 
                    class="form-control" >
          </div>  -->
             <!-- <div class="input-group">
           <div class="input-group-prepend">
          <div class="input-group-text">$</div> -->
           <!-- </div>
       
      </div> -->
      


       <div class="form-group ">
      <label  for="quantity">Quantity</label>
      <input formControlName="quantity"
                   id="quantity"
                   type="number"
                   class="form-control" >
     
      </div>
      


       <!-- <div class="form-group">
        <label  for="total">total</label>
          <div class="input-group">
         <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="Total"   id="total"
      type="number" class="form-control" readonly>
     </div>
     </div> -->
     
   
          <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
    </form>
  </div> 


  <!-- <h4 class="dispaly-4">Order Food Item</h4>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden"  name="OrderItemID" #OrderItemID="ngModel" [(ngModel)]="formData.OrderItemID">
    <input type="hidden"  name="OrderID" #OrderID="ngModel" [(ngModel)]="formData.OrderID">
  <input type="hidden"  name="ItemName" #ItemName="ngModel" [(ngModel)]="formData.ItemName">
  <div class="form-group">
    <label>Food Item</label>
    <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formData.ItemID" class="form-control" (change)="updatePrice($event.target)"
    [class.is-invalid]="!isValid && formData.ItemID==0">
      <option value="0">-Select-</option>
      <option *ngFor="let item of itemList" value="{{item.ItemID}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="Price" #Price="ngModel" [(ngModel)]="formData.Price" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formData.Quantity==0">
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  </div>
</form> -->
